*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-container{
  display: flex;
  background: grey;
  height: 6vh;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 2.3vmin;
}

.header-container header{
  color: white;
  flex: 1;
  display: flex;
  align-items: center;
}

.header-container nav{
  flex: 2;
}

.header-container ul{
  display: flex;
  height: 100%;
  justify-content: right
}

.header-container li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.header-container li:hover{
  background: black
}

.header-container .active{
  background: green
}

.header-container a{
  text-decoration: none;
  color: white;
}